$autocomplete-height: 40px;

.autocomplete {
  display: flex;
  height: $autocomplete-height;
  flex-direction: column;
  position: relative;
  z-index: 1;
  max-width: 350px;
  width: 100%;
  flex-shrink: 0;

  &-input {
    flex: 1;
    padding-left: 10px;
  }

  &-loader {
    position: absolute;
    right: 10px;
    top: calc($autocomplete-height / 2 - 7px);
  }

  &-results {
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    position: absolute;
    z-index: 2;
    list-style: none;
    top: calc($autocomplete-height - 1px);
    max-height: 200px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 10px;

      &-thumb {
        background: #ececec;
        border-right: 4px white solid;
        border-left: 3px white solid;
        max-height: 50%;
        height: 20%;
      }

      &-track {
        background: #ffffff;
      }
    }
  }

  &-result {
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_empty {
      padding: 5px 10px;
    }

    &_highlight {
      background-color: yellow;
    }

    &_selected {
      background-color: #f2f2f2;
    }

    &:hover {
      @extend .autocomplete-result_selected;
      cursor: pointer;
    }
  }
}
